body {
	position: relative;
	right: 0;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

html.zeynep-opened {
	overflow-x: hidden;
}
html.zeynep-opened body {
	width: 100%;
	position: fixed;
}
html.zeynep-opened .zeynep {
	pointer-events: auto;
}

.zeynep {
	position: fixed;
	right: 0;
	top: 58px;
	bottom: 0;
	width: 0;
	overflow: hidden;
	overflow-y: auto;
	background-color: #fff;
	color: #4c4f57;
	z-index: 1011;
	-webkit-overflow-scrolling: touch;
	pointer-events: none;
	transform: translateX(100%);
}
html:not(.no-transition) body,
.zeynep:not(.no-transition),
.zeynep .submenu:not(.no-transition) {
	transition: all 375ms;
	transition-property: left, right, transform;
}

.zeynep-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
	display: none;
	/*background-color: rgba(0,0,0,.4);*/
}
.zeynep-opened .zeynep-overlay {
	display: block;
}

.zeynep a:hover, .zeynep a:focus, .zeynep a:active{
  color: #3a5575;
}
.zeynep ul {
  list-style-type: none;
  padding: 0;
	-webkit-overflow-scrolling:touch;
}
.zeynep ul > li {
	padding: 15px 26px;
	display: block;  
	font-family: "Teko";
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: 0.6px;
	text-align: left;
	color: #4c4f57;
}

.zeynep .list-unstyled li a{  
  font-family: "Poppins";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: 0.52px;
  text-align: left;
  color: #4c4f57;
}
.zeynep ul > li.has-submenu {
	background-image: url("../images/icons/Trazado 301.png");
	background-repeat: no-repeat;
    background-size: 3%;
    background-position: right 29px center;
    background-color: white;
}
.zeynep ul > li.has-submenu:hover {
	background-image: url("../images/icons/Trazado 273.png");
}
.zeynep ul > li > a {
	font-size: 16px;
	color: #4c4f57;
	display: block;
	font-weight: bold;
	text-decoration: none;
    text-transform: uppercase;
}
.zeynep ul > li, .submenu-header {
	border-bottom: 1px solid #b4b4b4;
	margin-left: 19px;
}

.zeynep .submenu {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 100%;
	overflow: hidden;
	overflow-y: auto;
	background-color: #fff;
	min-height: 100%;
	width: 100%;
}
.zeynep .submenu.opened {
	right: 0;
}
.zeynep .submenu-header {
	font-family: "Teko";
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: 0.6px;
	text-align: left;
	color: #707070;
	background-color: #fff;
	padding: 20px 26px;
	cursor: pointer;
	position: relative;
	padding-left: 55px;
}
.zeynep .submenu-header > a {
	text-decoration: none;

	font-size: 16px;
	color: #4c4f57;
	display: block;
	font-weight: bold;
	text-decoration: none;
    text-transform: uppercase;
}
.zeynep .submenu-header > a {
    background-image: url("../images/icons/Trazado 304.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-left: -20px;

}
.zeynep .submenu-header > a:hover {
	background-image: url("../images/icons/Trazado 303.png");
}
.zeynep .submenu > label {
	padding-left: 26px;
	color: #4c4f57;
	font-size: 16px;
	opacity: .5;
	margin-top: 22px;
	margin-bottom: 16px;
	display: block;
	width: 100%;
}
