
$btn-primary_bg: #047BFE;
$btn-primary-box: 2px 2px 3px rgba(0, 0, 0, 0.15);
$btn-primary-p: 9px 20px 8px 20px;
button:focus {
    outline: none;
}
.btn{
	border-radius: 50px;
	box-shadow: $btn-primary-box;
	padding: $btn-primary-p;
	text-transform: uppercase;
}
.btn-primary{
	background: $btn-primary_bg;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;
}
.btn-outline-primary {
	border: 1px solid $btn-primary_bg;
	color: $btn-primary_bg;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.btn-link{
	box-shadow: none;
}
.btn:not(:disabled):not(.disabled):active.btn-link{
	background: transparent;
	box-shadow: none;
	outline: 0;
}
.btn:focus.btn-link{
	background: transparent;
	box-shadow: none;
	outline: 0;
}

.input-group>.input-group-append>.btn{
    border: 0;
    border-radius: 0.25em;    
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.gj-datepicker {
	.input-group-append {
	    margin-left: -38px;
	}
	&.input-group>.form-control:not(:last-child), &.input-group>.custom-select:not(:last-child){
	    border-radius: 0.25em;
    }
}