label{
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: $label-color;
	margin-bottom:0;
}
input{
	background: $input-bg;
	border: 1px solid $input-b;
	box-sizing: border-box;
	border-radius: $input-r;
	padding: $input-p;
	height: 40px;
}
input.form-control{
	height: 40px;
}
.gj-datepicker input,.gj-datepicker.input-group>.form-control{
	width: 130px;
}
.gj-datepicker span button{
    padding: 0px;
    box-shadow: none;
}
.custom-control-input:checked + label{
	color: #047BFE;
}
.custom-select{

    padding: .375rem 1rem .375rem .75rem !important;
	background:none !important;
	-webkit-appearance: menulist !important;
	-moz-appearance: menulist !important;
	-o-appearance: menulist !important;
	appearance: menulist !important;
}